<form class="dynamic reload" action="/api/brigades/add" method="POST">
	<table>
		<tr>
			<td>Название:</td>
			<td>
				<input type="text" name="name" />
			</td>
		</tr>
		<tr>
			<td>Сокращение:</td>
			<td>
				<input type="text" name="shortcut" placeholder="До 5 символов" />
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<input type="submit" value="Добавить" />
			</td>
		</tr>
	</table>
</form>