<h2>Список смен</h2>
{{#brigades.exists}}
<form class="dynamic reload" id="delete" method="POST" action="api/brigades/delete">
</form>
<form class="dynamic reload" id="update" method="POST" action="api/brigades/update">
	<table>
		<tr>
			<th></th>
			<th>
				Название
			</th>
			<th>
				Сокращение
			</th>
			<th>
				Отработка по-умолчанию (часов в день)
			</th>
		</tr>
		{{#brigades}}
			<tr>
				<td>
					<input type="checkbox" form="delete" name="ids" value="{{id}}" />
					<input type="hidden" name="ids" value="{{id}}" />
				</td>
				<td>
					<input type="text" name="names" value="{{name}}" />
				<td>	
					<input class="shortcut" type="text" name="shortcuts" value="{{shortcut}}"/>
				</td>
				<td>
					<input type="number" max="24" name="hours" value="{{hours}}" placeholder="-" />
				</td>
			</tr>
		{{/brigades}}
	</table>
</form>
<input type="submit" form="delete" value="Удалить выделенное" />
<input type="submit" form="update" value="Сохранить"/>
{{/brigades.exists}}
{{^brigades}}
	<i>На данный момент нет ни одной смены, добавьте их при помощи формы ниже</i>
{{/brigades}}
<h2>Добавить смену</h2>
{{>add}}