<div class="footer">
	<div class="centered">
		ALL RIGHTS RESERVED
		<br>
		2020
	</div>
	<div class="poweredBy">
		Powered by <a target="_blank" href="mailto:einnfeigr@gmail.com">Einnfeigr</a>
	</div>
</div>