<h1>Зміна пароля</h1>
<form method="post" action="">
	<span><img src="/img/icon/009-lock.svg" />Новий пароль</span>
	<input type="password" name="password" />
	<input type="submit" value="Відправити" />
</form>
