<h1>Смена пароля</h1>
<form method="post" action="">
	<span><img src="/img/icon/009-lock.svg" />Новый пароль</span>
	<input type="password" name="password" />
	<span>Повторите пароль</span>
	<input type="password" name="passwordRepeat" />
	<input type="submit" value="Отправить" />
</form>
