<p>
	Введите адрес электронной почты, указанный при регистрации, и мы вышлем вам ссылку на 
	восстановление пароля. <br>
	Если вы не помните, какой адрес был указан при регистрации, введите свой логин
</p>
<form method="post" action="">
	Адрес электронной почты или логин
	<input type="text" name="email" />
	<button type="submit">Отправить</button>
</form> 
