<p>
	Введіть адресу електронної пошти, вказану при реєстрації, і ми надішлемо вам посилання на
	відновлення паролю. <br>
	Якщо ви не пам'ятаєте, яку адресу було вказано при реєстрації, введіть свій логін
</p>
<i>{{error}}</i>
<form method="post" action="">
	Адрес електронної пошти або логін
	<input type="text" name="email" />
	<button type="submit">Відправити</button>
</form> 
