{{#notifications}}
	<h2 class="centered">{{event.localizedName}}</h2>
	<div class="statusWrapper">
		<div class="status">
		</div>
	</div>
	<div class="tasks">
		{{#tasks}}
			{{>taskPreview}}
		{{/tasks}}
	</div>
{{/notifications}}
{{#tasks.exists}}
	<h2 class="centered">Все задачи</h2>
	{{#authUser.Permissions.EditTasks}}
		<form id="deleteSelected" class="dynamic reload" action="/tasks/delete" method="POST">
			<a onclick="$('#deleteSelected').submit()">Удалить выбранное</a>
	{{/authUser.Permissions.EditTasks}}
	<div class="tasks">
		{{#tasks}}
			{{>taskPreview}}
		{{/tasks}}
	</div>
	{{#authUser.Permissions.EditTasks}}
		</form>
	{{/authUser.Permissions.EditTasks}}
{{/tasks.exists}}
{{^tasks.exists}}
	На данный момент здесь нет задач <br>
	Проверьте страницу позже <br>
{{/tasks.exists}}
{{#completed}}
	<h2 class="centered">Завершенные задачи</h2>
	<div class="tasks">
		{{#tasks}}
			{{>taskPreview}}
		{{/tasks}}
	</div>	
{{/completed}}