<div class="task">
	<form class="dynamic reload" action="/tasks/{{task.id}}" method="POST" id="changeState">
		<input type="hidden" name="id" value="{{task.id}}" />
		<input type="hidden" name="completed" value="
			{{#task.isCompleted}}false{{/task.isCompleted}}
			{{^task.isCompleted}}true{{/task.isCompleted}}
		" />
	</form>
	{{#editable}}
		<a class="extra" href="/tasks/{{task.id}}/settings">
			Редактировать
		</a>
	{{/editable}}
	{{^editable}}
		<a class="extra" onclick="$('#changeState').submit()">
			{{#task.isCompleted}}Пометить как невыполненную{{/task.isCompleted}}
			{{^task.isCompleted}}Пометить как выполненную{{/task.isCompleted}}
		</a>
		<noscript>
			<input class="extra" form="changeState" type="submit" value="
				{{#task.isCompleted}}Пометить как невыполненную{{/task.isCompleted}}
				{{^task.isCompleted}}Пометить как выполненную{{/task.isCompleted}}
			" />
		</noscript>
	{{/editable}}
	<h3 class="centered">{{task.name}}</h3>
	<p class="text">{{task.text}}</p>
	<span>
		{{#task.isCompleted}}Задача выполнена{{/task.isCompleted}}
		{{^task.isCompleted}}Задача не выполнена{{/task.isCompleted}}
	</span>
	<span>Автор: {{#task.author}}{{>../user/link}}{{/task.author}}</span>
	{{#task.user}}
		<span>Адресат: {{>../user/link}}</span>
	{{/task.user}}
	<span>Дата выдачи: {{task.startDate}}</span>
	{{#task.endDate}}
		<span>Должна быть выполнена до {{task.endDate}}</span>
	{{/task.endDate}}
</div>