<form class="dynamic" action="/api/positions/add/" method="POST">
	<table>
		<tr>
			<td>Название:</td>
			<td><input type="text" name="name" /></td>
		</tr>
		<tr>
			<td>Заработок:</td>
			<td><input type="number" min="0" name="salary" /></td>
		</tr>
		<tr>
			<td>Может иметь подчиненных <input type="checkbox" name="hasSubordinates" /></td>
		</tr>
		<tr>
			<td>Разрешения:</td>
		</tr>
		<tr>
			<td colspan="3" class="permissions">
				{{#permissions}}
					<div>
						<h3 class="edCheckbox"><font>{{key}}</font></h3>
						<ul class="edHiddenElement">
							{{#value}}
									<li>
										<input type="checkbox" value="{{name}}" name="permissions">{{localizedName}}
									</li>
							{{/value}}
						</ul>
					</div>
				{{/permissions}}
			</td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" value="Добавить"></td>
		</tr>
	</table>
</form>