<form class="dynamic reload" action="/api/positions/{{position.id}}/" method="POST">
	<table>
		<tr>
			<td>Название:</td>
			<td><input type="text" name="name" value="{{position.name}}" /></td>
		</tr>
		<tr>
			<td>Заработок:</td>
			<td><input type="text" name="salary" value="{{position.salary}}" /></td>
		</tr>
		<tr>
			<td>Может иметь подчиненных <input type="checkbox" name="hasSubordinates"
			{{#position.hasSubordinates}}checked{{/position.hasSubordinates}} /></td>
		</tr>
		<tr>
			<td><input type="submit" value="Изменить"></td>
		</tr>
	</table>
</form>