{{#positions.exists}}
	<table>
		{{#positions}}
			<tr>
				<td>
					<a href="/positions/{{id}}">{{name}}</a>
				</td>
				<td>
					{{salary}}
				</td>
			</tr>
		{{/positions}}
		<tr>
		</tr>
	</table>
{{/positions.exists}}
{{^positions}}
	Должности отсутствуют
{{/positions}}