<table>
	<tr>
		<td>Название: {{position.name}}</td>
	</tr>
	<tr>
		<td>Зарплата: {{position.salary}}</td>
	</tr>
	<tr>
		<td>
			{{#position.hasSubordinates}}
				Может иметь подчиненных
			{{/position.hasSubordinates}}
			{{^position.hasSubordinates}}
				Не может иметь подчиненных
			{{/position.hasSubordinates}}
		</td>
	</tr>
	{{#permissions.exists}}
		<tr>
			<td>Разрешения:</td>
		</tr>
		{{#permissions}}
		<tr>
			<td><h3>{{key}}</h3></td>
		</tr>
		{{#value}}
			<tr>
				<td>
					<input type="checkbox" disabled {{#isPermitted}}checked{{/isPermitted}}/>
				</td>
				<td>
					{{name}}
				</td>
			</tr>
		{{/value}}
		{{/permissions}}
	{{/permissions.exists}}
</table>