<form class="dynamic reload" method="POST" action="/user/add">
	<table>
		<tr>
			<td>Имя:</td>
			<td><input type="text" name="name" value="" /></td>
		</tr>
       	<tr>
           	<td>Логин:</td>
           	<td><input type="text" name="login" value=""/></td>
        </tr>
        <tr>
            <td>Пароль:</td>
            <td><input type="password" name="password" value="" /></td>
        </tr>
		<tr>
			<td>Начальник:</td>
			<td>
				{{#chiefs.exists}}
					<select name="chiefId">
						<option value="">-</option>
						{{#chiefs}}
							<option value="{{id}}">{{name}}</option>
						{{/chiefs}}
					</select>
				{{/chiefs.exists}}
				{{^chiefs.exists}}
					<i>
						начальник не может быть назначен так как в системе нет 
						ни одного подходящего пользователя
					</i>
				{{/chiefs.exists}}
			</td>
		</tr>
		<tr>
			<td>Должность:</td>
			<td>
				{{#positions.exists}}
					<select name="positionId">
						<option value="">-</option>
						{{#positions}}
							<option value="{{id}}">{{name}}</option>
						{{/positions}}
					</select>
				{{/positions.exists}}
				{{^positions.exists}}
					<i>
						должность не может быть присвоена так как в системе нет
						ни одной должности
					</i>
				{{/positions.exists}}
			</td>
		</tr>				
		<tr>
			<td></td>
            <td><input name="submit" type="submit" value="Подтвердить" /></td>
  		</tr>
   	</table>
</form>