{{^isAdmin}}
	<h1>Видалити акаунт</h1>
	Ви дійсно хочете видалити акаунт?
	<i>Аккаунт і всі дані будуть видалені <b>назавжди</b></i>
	<form action="" method="POST">
		<input type="submit" value="Підтвердити" />
	</form>
{{/isAdmin}}
{{#isAdmin}}
	Аккаунт адміна не може бути видалений
	<a class="button" href="/">Назад</a>
{{/isAdmin}}