<h1>{{user.name}}</h1>
{{#isMe}}
	<a class="settings" href="/settings">Настройки</a>
{{/isMe}}
{{#links}}
	{{>../misc/link}}
{{/links}}
{{^links}}
	<p>Этот пользователь пока что не добавил ссылок</p>
{{/links}}