Имя: {{user.name}} <br>
Логин: {{user.login}} <br>
Роль: {{user.role.name}} <br>
Должность: 
	{{#user.position}}
		{{>../position/link}}
	{{/user.position}}
	{{^user.position}}
		-
	{{/user.position}} 
	<br>
{{#user.position}}
	Заработано с начала месяца: {{earning}} <br>
{{/user.position}}
Руководитель: 
	{{#user.chief}}
		{{>link}}
	{{/user.chief}} 
	{{^user.chief}}
		-
	{{/user.chief}}
	<br>
Подчиненные: 
	<ul>
		{{#user.subordinates}}
			<li>
				{{>link}}
			</li>
		{{/user.subordinates}}
	</ul>
<a href="/users/{{user.login}}/tasks">Задачи</a> <br>