{{#authUser.Permissions.ViewUsersInfo}}
	<a href="/user/{{login}}">
{{/authUser.Permissions.ViewUsersInfo}}
{{name}}
{{#authUser.Permissions.ViewUsersInfo}}
	</a>
{{/authUser.Permissions.ViewUsersInfo}}