<h1>Настройки пользователя</h1>
<form id="save" method="post">
</form>
<form id="delete" method="post" action="/settings/delete">
</form>
{{#links}}
	<div class="link">
		<div>
			<input type="checkbox" form="delete" id="{{type.name}}.checkbox" name="{{type.name}}" />
			<label class="imgwrapper checkboxLabel" for="{{type.name}}.checkbox">
				{{#type}}{{>../misc/linkicon}}{{/type}}
			</label>
		</div>
		<input type="text" form="save" name="{{type.name}}" 
				placeholder=
						"{{^isCustom}}{{^type.domain}}{{type.name}}{{/type.domain}}{{/isCustom}}{{#isCustom}}{{type.name}}{{/isCustom}}{{^isCustom}}{{#type.domain}}https://{{type.domain}}/{{/type.domain}}{{/isCustom}}"
				value="{{link}}" />
	</div>
{{/links}}
<div class="buttons">
	<a class="button" href="/">Назад</a>
	<input type="submit" form="delete" value="Удалить выбранное" class="button" />
	<input type="submit" form="save" value="Сохранить" />
</div>