<h1>Настройки пользователя</h1>
<form id="save" method="post">
</form>
<form id="delete" method="post" action="/settings/delete">
</form>
{{#links}}
	<div class="link">
		<input type="checkbox" form="delete" name="{{type.name}}" />
		<div class="imgwrapper">
			{{#type}}{{>../misc/linkicon}}{{/type}}
		</div>
		<input type="text" form="save" name="{{type.name}}" 
				placeholder=
						"{{^isCustom}}{{^type.domain}}{{type.name}}{{/type.domain}}{{/isCustom}}{{#isCustom}}{{type.name}}{{/isCustom}}{{^isCustom}}{{#type.domain}}https://{{type.domain}}/{{/type.domain}}{{/isCustom}}"
				value="{{link}}" />
	</div>
{{/links}}
<hr>
{{#custom}}

{{/custom}}
<div class="buttons">
	<input type="submit" form="save" value="Сохранить" />
	<input type="submit" form="delete" value="Удалить выбранное" class="button" />
</div>