<div class="nav">
	<div class="buttons">
		{{>misc/nav/elements/main}}
		{{>misc/nav/elements/tasks}}
		{{>misc/nav/elements/users}}
		{{>misc/nav/elements/schedule}}
		{{>misc/nav/elements/misc}}
	</div>
</div>