input[type=text], input[type=number], input[type=password], input[type=email] {
	min-width: 75vw;
	width: auto;
	max-width: 90vw;
	border: 1px solid black;
	border-style: solid; 
	-webkit-appearance: none;
}

input[type=submit], button {
	-webkit-appearance: none;
}

.usersettings .link {
	grid-template-columns: 1fr auto 1fr;
}

.buttons {
	flex-flow: column;
}

.loginForm .buttons {
	flex-flow: row;	
}

.buttons * {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}