@font-face {
	font-family: break;
	src: url('/fonts/Break Regular.ttf');
}

@font-face {
	font-family: break;
	src: url('/fonts/Break Bold.ttf');
	font-weight: bold;
}

@font-face {
	font-family: comfortaa;
	src: url('/fonts/Comfortaa-Regular.ttf');
}

@font-face {
	font-family: comfortaa;
	src: url('/fonts/Comfortaa-Bold.ttf');
	font-weight: bold;
}

@font-face {
	font-family: comfortaa;
	src: url('/fonts/Comfortaa-Light.ttf');
	font-weight: light;
}

@font-face {
	font-family: comfortaa;
	src: url('/fonts/Comfortaa-Medium.ttf');
	font-weight: medium;
}

.preload * {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
}

.loading {
	opacity: 0;
	position: absolute;
	font-size: 20vh;
	color: white;
	font-family: break;
	left: -2em;
}

.loading.animated {
	animation: load 1s infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;	
}

@keyframes load {
	from {
		left: -1em;
	}
	10% {
		opacity: 0;
	}
	15% {
		opacity: 1;
	}
	75% {
		opacity: 1;
	}
	90% {
		opacity: 0;
	}
	to {
		left: calc(100vw + 0.5em);
		opacity: 0;
	}
}

body {	
	font-family: comfortaa;
	font-weight: normal;
	overflow: hidden;
	width: 100vw;
	height: 100vw;
	margin: 0;
	font-size: 1rem;
}

input, select {
	padding: 5px 10px;
	box-sizing: border-box;
	border: 1px solid hsl(0,0%,30%);
}

input {
	border-radius: 3.5px;
}

input[type=text], input[type=password] {
	min-width: 35em;
	min-height: 3em;
}

input[type=checkbox] {
	min-width: auto;
}

input[type=select] {
	max-width: 10em;
}

input[type=submit] {
	color: white;
	font-weight: semibold;
	font-size: 1.2em;
	padding: 10px 20px;
	border-radius: 2.5em;
	border: none;
	background: #28a745 !important;
	background-image: none;
	border-color: none;
	min-width: auto;
}

tr td:first-child {
	text-align: right;
	padding-right: 5px;
}

tr td:first-child:last-child {
	text-align: left;
	padding-right: 0;
}

table tr:last-child td {
	padding-top: 1em;
}

.body {
	position: relative;
	max-height: 100vh;
	overflow-x: hidden;
}

.page {
	position: relative;
	min-height: 100vh;
	box-sizing: border-box;
	display: flex;
	flex-flow: column;
	padding: 15px;
	padding-bottom: 130px;
}

.page h1 {
	font-size: 5.7em;
	text-align: center;
	font-weight: lighter;
}

.error {
	font-style: italic;
}

a {
	color: black;
}

.centered {
	text-align: center;
}

.login .content {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.loginForm {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: flex-start;
	gap: 10px;
}

.tasks {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	padding: 15px;
	gap: 20px;
}

textarea {
	resize: vertical;
	min-height: 3em;
}

.addForm .description {
	vertical-align: top;
}

.pageNav {
	z-index: 2;
	padding: 5px;
}

.extra {
	position: absolute;
	right: 5px;
	top: 5px;
	float: right;
}

.content {
	z-index: 2;
	padding: 5px;
}

.content > .task {
	display: flex;
	flex-flow: column;
}

.content > .task p {
	margin-left: 5vw;
	margin-right: 5vw;
}

.statusWrapper {
	color: rgba(0,0,0,0.65);
	font-weight: normal;
	padding: 5px;
	height: 2em;
}

.previewBackground {
	background: rgba(0,0,0,0.95);
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 12;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
}

.edEnabled, .edDisabled, .edHiddenElement {
	-webkit-transition: all ease-in 0.15s;
    -moz-transition: all ease-in 0.15s;
    -o-transition: all ease-in 0.15s;
    transition: all ease-in 0.15s;
}

.disabled {
	opacity: 0.5;
	position: relative;
}

.disabled:after {
	content: "";
	position: absolute;
	left: -1px;
	top: -1px;
	width: calc(100% + 2px);
	height: calc(100% + 2px);
}

.contentWrapper {
	display: flex;
	align-items: left;
	flex-flow: row;
	gap: 25px;
}

.shortcut {
	max-width: 5em;
}

.schedule td .text {
	margin: 0;
	border: 0;
	width: 100%;
	background: none;
	box-sizing: border-box;
}

.permissions {
	padding-left: 2em;
}

.permissions li::marker {
	content: "";
}

.permissions h3 font {
	cursor: pointer;
	position: relative;
}

.permissions h3 font::after {
	content: "";
	border: 5px solid transparent;
	border-left: 5px solid black;
	position: absolute;
	margin-left: 0.5em;
	transform: rotate(45deg);
	bottom: 0;
}

.permissions h3.checked font::after {
	border-left: 5px solid transparent;
	border-top: 5px solid black;
	transform: none;
}

.edHiddenElement {
	overflow-y: hidden;
}

.edHiddenElement.edHidden {
	max-height: 0;
}

.linkPane {
	display: flex;
	flex-flow: column;
	flex-wrap: nowrap;
	align-items: center;
	font-size: 1.35em;
	text-align: center;
}

.linkPane span:first-child, .linkPane a:first-child {
	margin-top: 0;
}

.linkPane span, .linkPane a {
	margin-top: 2.5em;
}

.welcome {
	position: relative;
	top: 10px;
	text-align: center;
	width: 100%;
	left: 0;
}

.welcome span {
	font-size: 1.75em;
}

.welcome h1 {
	font-weight: bold;
	font-family: break;
	margin-top: 1rem;
}

.page.main {
	background-color: white;
	background-image: url('/img/background.jpg');
	background-size: cover;
}

.page.main:before {
	content: "";
	left: 0;
	top: 0;
	background: rgba(255,255,255,0.65);
	position: absolute;
	width: 100%;
	height: 100%;
}

