<!DOCTYPE html>
<html lang="ru">
	<head>
		{{>misc/elements/head}}
	</head>
	<body class="preload">
		<div class="body">
			{{>misc/elements/preloader}}
			{{^excludeHeader}}
				{{>misc/elements/header}}
			{{/excludeHeader}}
			<div class="page {{#pageName}}{{pageName}}{{/pageName}}">
				<div class="pageNav">
					{{#pageTitle}}
						<h1>{{pageTitle}}</h1>
					{{/pageTitle}}
				</div>
				<div class="content">
					{{{page}}}
				</div>
				{{^excludeFooter}}
					{{>misc/elements/footer}}
				{{/excludeFooter}}
			</div>
		</div>
	</body>
</html>