<form action="" method="post">
	<label>Количество кодов для генерации</label>
	<input type="number" name="count" placeholder="Целое число"/>
	<div class="buttons">
		<a class="button" href="/manage">Назад</a>
		<input type="submit" value="Генерировать" />
	</div>
</form>