<form action="" method="post">
	<label>Кількість кодів для генерації</label>
	<input type="number" name="count" placeholder="Ціле число"/>
	<div class="buttons">
		<a class="button" href="/manage">Назад</a>
		<input type="submit" value="Генерувати" />
	</div>
</form>