<h1>
	Авторизация
</h1>
{{#isError}}
	<p class="error">
		{{error}}
	</p>
{{/isError}}
<br>
<form method="POST" action="login" class="loginForm">
	<span>Логин</span>
	<input type="text" name="username" />
	<span>Пароль</span>
	<input type="password" name="password" />
	<br>
	<input name="submit" type="submit" value="Войти" />
</form>