{{^isMe}}
	<img class="background" src="/img/background.jpg" />
	<div class="welcome">
		<span>Welcome to</span>
		<h1>LOOF</h1>
	</div>
	<div class="linkPane">
		<span>Приєднуйтесь</span>
		<a href="/register">Реєстрація</a>
		<span>Вже зареєструвалися?</span>
		<a href="/login">Авторизація</a>
	</div>
{{/isMe}}
{{#isMe}}
	{{>user/info}}
{{/isMe}}