<div class="buttons vertical">
	<a class="button" href="/users">Користувачі</a>
	<a class="button" href="/codes">Список кодів</a>
	<a class="button" href="/codes/generate">Генерація кодів</a>
	<a class="button" href="/">Назад</a>
</div>