{{#id}}
	<form method="POST" >
		<input type="hidden" name="id" value="{{id}}" />
		<span><img src="/img/icon/005-id card.svg" />Имя</span>
		<input type="text" name="name" value="" />
		<span><img src="/img/icon/019-user.svg" />Логин</span>
		<input type="text" name="login" value=""/>
		<span><img src="/img/icon/email.svg" />Почта</span>
		<input type="email" name="email" />
		<span><img src="/img/icon/009-lock.svg" />Пароль</span>
		<input type="password" name="password" value="" />
		<div class="buttons">
			<input name="submit" type="submit" value="Подтвердить" />
		</div>
	</form>
{{/id}}
{{^id}}
	{{#error}}
		<div class="error">
			<i>{{error}}</i>
		</div>
	{{/error}}
	<form id="code" method="GET" action="/register">
	</form>
	<table>
		<tr>
			<td>Введите id чтобы продолжить</td>
		</tr>
		<tr>
			<td><input form="code" type="text" name="code" placeholder="Код длиной 8 символов"/></td>
		</tr>
		<tr>
			<td><input form="code" type="submit" value="Проверить"/></td>
		</tr>
	</table>
{{/id}}
