<div class="task">
	<a href="{{back}}" class="back">Вернуться</a>
	<h3 class="name">{{name}}</h3>
	{{#endTime}}
		<span class="endTime">{{endTime}}</span>
	{{/endTime}}
	<p>
		{{{text}}}
	</p>
	
	{{#author}}
		<span class="author">добавил {{author}}</span>
	{{/author}}
</div>