<a href="task/{{id}}">
	<div class="taskPreview">
		<span class="name">{{name}}</span>
		{{#endTime}}
			<span class="endTime">{{endTime}}</span>
		{{/endTime}}
		{{#author}}
			<span class="author">добавил {{author}}</span>
		{{/author}}
	</div>
</a>