<h2>Список користувачів</h2>
<div class="tablewrapper">
<table> 
	<tr>
		<th>id</th>
		<th>Логін</th>
		<th>Iм'я</th>
		<th>Email</th>
	</tr>
	{{#users}}
		<tr>
			<td colspan="4">
				<hr>
			</td>
		</tr>
		<tr>
			<td><a href="/user/{{code.id}}">{{code.id}}</a></td>
			<td><a href="/u/{{login}}">{{login}}</a></td>
			<td>{{name}}</td>
			<td>{{email}}</td>
		</tr>
	{{/users}}
</table>
</div>
<div class="buttons">
	<a class="button" href="/manage">Назад</a>
</div>
