<h2>Список пользователей</h2>
<div class="tablewrapper">
<table> 
	<tr>
		<th>id</th>
		<th>Логин</th>
		<th>Имя</th>
		<th>Email</th>
	</tr>
	{{#users}}
		<tr>
			<td colspan="4">
				<hr>
			</td>
		</tr>
		<tr>
			<td>{{code.id}}</td>
			<td>{{login}}</td>
			<td>{{name}}</td>
			<td>{{email}}</td>
		</tr>
	{{/users}}
</table>
</div>
<div class="buttons">
	<a class="button" href="/manage">Назад</a>
</div>
